Q1 - Prints the following pattern for `n` rows:

        1
        1 2
        1 2 3
        ...
        1 2 3 ... n

In [62]:
def number_pattern(n):
    i = 1
    while i <= n:
        j = 1
        while j <= i:
            print(j, end=' ')
            j = j + 1
        print()
        i = i + 1

In [63]:
number_pattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q2 - Prints the following `n` times:

        *
        00
        ***
        0000
        *****
        0000
        ***
        00
        *

        Example
        -------
        n = 2
        
        *
        00
        ***
        0000
        *****
        0000
        ***
        00
        *
        00
        ***
        0000
        *****
        0000
        ***
        00
        *

In [64]:
def zero_pattern(n):
    i = 1
    while i <= 5:
        j = 1
        while j <= i:
            if i % 2 == 0:
                print("0",end='')
            else:
                print("*",end='')
            j = j + 1
        print()
        i = i + 1
    i = 4
    while i >= 1:
        j = i
        while j >= 1:
            if i % 2 == 0:
                print("0", end='')
            else:
                print("*", end='')
            j = j - 1
        print()
        i = i - 1
    if n > 1:
        while n>1:
            i = 2
            while i <= 5:
                j = 1
                while j <= i:
                    if i % 2 == 0:
                        print("0",end='')
                    else:
                        print("*",end='')
                    j = j + 1
                print()
                i = i + 1
            i = 4
            while i >= 1:
                j = i
                while j >= 1:
                    if i % 2 == 0:
                        print("0", end='')
                    else:
                        print("*", end='')
                    j = j - 1
                print()
                i = i - 1
            n = n - 1

In [65]:
zero_pattern(2)

*
00
***
0000
*****
0000
***
00
*
00
***
0000
*****
0000
***
00
*

Q3 - Consider `k` where k = i*sin^i(x) + i*cos^i(x), 1 <= i <= n. Print `int(k)` $ symbols for all `i` from 1 to `n`. If k < 1, print 1 $ symbol.
        
Example
-------
x = 90, n = 5
        
$
$$
$$$
$$$$
$$$$$

In [66]:
import math

In [67]:
def trigonometric_pattern(x, n):
    x = math.radians(x)
    for i in range(1, n+1):
        k = i*(math.pow(math.sin(x), i)) + i*(math.pow(math.cos(x), i))
        k = int(k)
        if k <= 1:
            print("$")
        else:
            while k > 0:
                print("$", end='')
                k = k - 1
            print()

In [68]:
trigonometric_pattern(45, 5)

$
$$
$$
$$
$

Q4 - Dictionary lookup
For all elements in `keys`, print the value associated with them in `dictionary`. Use exception handling to take care of a non-existent key, and print the value associated with `other` instead. Use exception handling.

In [69]:
dictionary = {'ant': 2, 'dog': 12, 'duck': 20, 'hen': 11, 'other': 99}

In [70]:
keys = ['ant', 'cat', 'duck', 'hen', 'lion', 'zebra']

In [71]:
for j in keys:
    try:
        print(dictionary[j])
    except:
        print(dictionary["other"])

2
99
20
11
99
99

Q5 - Round off values in `data` below the mean to 0, and those above the mean to 1,and return the list of rounded values. Do not use looping statements. Use map() and lambda.

In [72]:
data = [0.00, 0.12, 0.24, 0.36, 0.48, 0.52, 0.65, 0.50, 0.11, 0.09]

In [73]:
from functools import reduce
import math

In [74]:
def round_off(data):
    sum = reduce(lambda x, y: x + y, data)
    mean = sum/len(data)
    t = map(lambda a : 0 if (a < mean) else 1, data)
    p = list(t)
    return p

In [75]:
#2nd method
# def round_off(data):
#     mean = sum(data)/len(data)
#     t = map(lambda a : 0 if (a < mean) else 1, data)
#     p = list(t)
#     return p

In [76]:
f = round_off(data)
print(f)

[0, 0, 0, 1, 1, 1, 1, 1, 0, 0]

Q6 - Return a list of all perfect squares less than `n`, using list comprehension.

In [77]:
from math import sqrt

In [78]:
def perfect_squares(n):
    n_sqrt = int(sqrt(n))
    l = [x*x for x in range(n_sqrt)]
    return l

In [79]:
m = perfect_squares(25)
print(m)

[0, 1, 4, 9, 16]